root="./"
thread=8
logger=nil
harbor=0
start="testsocket"
bootstrap="snlua bootstrap"
lualoader="lualib/loader.lua"
luaservice=root.."test/?.lua;"..root.."lualib/?.lua;"..root.."service/?.lua"
cpath=root.."cservice/?.so"